:root {
    /* --- novas cores */
    --spliper-cor-green: #1c6981;
    --spliper-cor-yellow: #e3952d;
    --spliper-cor-gray: #dedfe0;
    --spliper-gradient-bl_ye-hor: linear-gradient(90deg, #61a5cb 15%, #ecb66c 85%);
    --spliper-gradient-bl_ye-ver: linear-gradient(0deg, #61a5cb 15%, #ecb66c 85%);
}

*::-moz-selection {
    background: var(--spliper-cor-yellow);
    color: var(--spliper-cor-green);
}
::-moz-selection {
    background: var(--spliper-cor-yellow);
    color: var(--spliper-cor-green);
}
::selection {
    background: var(--spliper-cor-yellow);
    color: var(--spliper-cor-green);
}
*::-moz-placeholder {
    color: var(--spliper-cor-green);
}
*::placeholder {
    color: var(--spliper-cor-green);
}



/* ///// MENU PRINCIPAL */
.header-bottom__transparent,
.header-bottom__area-2.header-sticky,
.tpoffcanvas {
    background-color: var(--spliper-cor-green);
}

.header-justify {
    justify-content: space-between;
}

.header-justify .header-block {
    width: inherit;
}

.header-bottom__main-menu nav ul {
    margin-left: inherit;
}

.header-bottom__main-menu nav ul li a,
.header-bottom__action a:first-child {
    color: #fff;
}

.header-bottom__action a:hover,
.header-bottom__main-menu nav ul li:hover a,
.header-bottom__action a:hover svg,
.mean-container .mean-nav ul li a:hover,
.tpoffcanvas__social .social-icon a {
    color: var(--spliper-cor-yellow);
}
.tp-btn-white {
    color: var(--spliper-cor-green);
}

.header-bottom__action a:last-child::after {
    display: none;
}

.tpoffcanvas__social .social-icon a:hover {
    background-color: var(--spliper-cor-yellow);
}



/* ///// FOOTER PRINCIPAL */
.tp-footer__pl-pr {
    background-color: var(--spliper-cor-yellow);
}

.tp-footer__pl-pr .container {
    padding-top: 100px;
    padding-bottom: 40px;
    background-image: url(../img/footer-avatar.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.tp-footer__logo {
    text-align: center;
    padding-bottom: 10px;
}

.tp-footer__social-3 {
    text-align: center;
}
.tp-footer__input-inner .tp-footer__social-3 a i {
    color: #fff;
    font-size: 30px;
}
.tp-footer__input-inner .tp-footer__social-3 a:hover i {
    color: var(--spliper-cor-green);
}

.footer-widget-3 .tp-footer__content ul li a,
.footer-widget-3 .tp-footer__widget-title,
.footer-widget-3 .tp-footer__widget-subtitle {
    color: #fff;
}

.footer-widget-3 .tp-footer__widget-subtitle {
    font-size: 18px;
    font-family: var(--tp-ff-urban);
    padding: 15px 0 0 0;
}
.tp-footer__content .tp-footer__widget-subtitle:first-child {
    padding-top: 0;
}

.tp-footer__content a {
    font-family: var(--tp-ff-urban);
    color: #fff;
    margin-right: 10px;
}
.tp-footer__content a:hover {
    color: var(--spliper-cor-green);
}

.footer-widget-3 .tp-footer__content ul li a:hover {
    color: var(--spliper-cor-green);
}
.tp-footer__widget-inner ul li a:after {
    background-color: var(--spliper-cor-green);
}

@media (max-width: 991px) {
    .tp-footer__pl-pr .container .row > div {
        width: 70%;
    }
    .tp-footer__pl-pr .container .row > div:first-child {
        width: 100%;
        padding-bottom: 80px;
    }
    .tp-footer__pl-pr .container .row > div:nth-child(2) .tp-footer__widget {
        padding-left: 0;
    }
}



/* ///// ELEMENTOS */

/* --- cores de background */
.bg-blue {
    background-color: #d2e1e6 !important;
}
.bg-yellow {
    background-color: #fcf4ea !important;
}
.bg-gray {
    background-color: #dedfe0 !important;
}


/* --- CAPA das paginas */
.inner-center {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
}

.cover-header {
    background: var(--spliper-gradient-bl_ye-hor);
    padding: 150px 20px 320px;
}
cover-header .inner-center {
    padding-left: 20px;
    padding-right: 20px;
}
.cover-header h1 {
    font-family: var(--tp-ff-urban);
    font-weight: 100;
    font-size: 60px;
    line-height: 120%;
    color: #fff;
    width: 80%;
    margin: 0 auto;
}
.cover-header h1 span {
    font-family: var(--tp-ff-dm);
    font-size: 80px;
    display: block;
}

.cover-img {
    margin-top: -280px;
    padding: 0 20px;
}
.cover-img img {
    min-width: 100%;
    overflow: hidden;
    border-radius: 40px;
}

@media (max-width: 991px) {
    .cover-header h1 {
        font-size: 45px;
    }
    .cover-header h1 span {
        font-size: 60px;
    }
    .page-cover {
        padding-top: 90px;
    }
}
@media (max-width: 767px) {
    .cover-header {
        padding: 60px 20px 100px;
    }
    .cover-header h1 {
        font-size: 35px;
    }
    .cover-header h1 span {
        font-size: 50px;
    }
    .cover-img {
        display: none;
    }
}


/* --- sup-titulo */
.tp-section-subtitle {
    text-transform: inherit;
    font-size: 18px;
    background-color: inherit;
    border-radius: inherit;
    padding: 0 0 0 35px;
    margin: inherit;
    position: relative;
}
.tp-section-subtitle:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 2px;
    margin-right: 10px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.tp-section-subtitle {
    color: var(--spliper-cor-yellow);
}
.tp-section-subtitle:before {
    background-color: var(--spliper-cor-yellow);
}


/* --- check personalizado das listas */
.tp-about__list ul li i {
    background-color: var(--spliper-cor-yellow);
}


/* --- botao branco */
.alt-color-white {
    background-color: #fff;
    border-color: var(--spliper-cor-green);
}
.alt-color-white span {
    color: var(--spliper-cor-green);
}
.tp-btn-hover.alt-color-white b {
    background-color: var(--spliper-cor-green);
}

/* --- botao verde */
.alt-color-green {
    background-color: var(--spliper-cor-green);
}
.alt-color-green span {
    color: #fff;
}


/* --- header das paginas */
.page-header .header-bg-top {
    background: var(--spliper-gradient-bl_ye-hor);
    padding-top: 180px;
    padding-bottom: 100px;
}
.page-header.cover .header-bg-top {
    padding-bottom: 300px;
}

.page-header .page__title {
    font-family: var(--tp-ff-heading);
    font-weight: 400;
    font-size: 50px;
    color: #fff;
    padding: 0;
    margin: 0;
}
.page-header .page__title span {
    font-family: var(--tp-ff-dm);
    font-size: 1.4em;
    display: block;
}

.cover-page {
    display: inline-block;
    width: 100%;
}
.container.img-cover {
    margin-top: -220px;
}
.container.img-cover img {
    overflow: hidden;
    border-radius: 40px;
}


/* --- para formularios */
.postbox__comment-input .inputText,
.sidebar__search input {
    border-radius: 100px;
}

.postbox__comment-agree .form-check-input:checked {
    background-color: var(--spliper-cor-green);
}
.postbox__comment-form .tp-btn-inner,
.postbox__comment-form .submit-btn {
    border-radius: 100px !important;
    background-color: var(--spliper-cor-yellow);
}

.postbox__comment-input .textareaText {
    border-radius: 30px;
}

.postbox__comment-input .inputText:focus,
.postbox__comment-input .textareaText:focus,
.sidebar__search input:focus {
    border: none;
    box-shadow: 0px 1px 2px 1px rgba(32, 33, 36, 0.06),
                inset 0 0 0 2px var(--spliper-cor-green);
}

.postbox__comment-form .tp-btn-inner:hover,
.postbox__comment-form .submit-btn:hover {
    background-color: var(--spliper-cor-green);
}

.postbox__comment-input.input-file {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    height: 55px;
    padding: 0 20px;
    border-radius: 100px;
    background-color: #fff;
    box-shadow: 0px 1px 2px 1px rgba(32, 33, 36, 0.06),
                inset 0 0 0 2px #b9b9b9;
}
.postbox__comment-input.input-file span {
    display: inline-block;
    line-height: 55px;
}
.postbox__comment-input.input-file input {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .01;
}

/* --- BANNER / gradiente */
.banner-gradiente {
    padding: 0 20px;
}

.banner-gradiente .row {
    background: var(--spliper-gradient-bl_ye-hor);
    box-sizing: border-box;
    max-width: 1000px;
    padding: 30px 40px;
    margin: 0 auto;
    border-radius: 40px;
    align-items: center;
}

.banner-title {
    font-family: var(--tp-ff-heading);
    font-weight: 400;
    font-size: 40px;
    color: #fff;
}
.banner-title span {
    font-family: var(--tp-ff-dm);
    font-weight: normal;
    display: block;
}

.banner-gradiente .tp-banner__btn {
    padding-top: 20px;
}
.banner-gradiente .alt-color-white span {
    color: var(--spliper-cor-yellow);
}

.banner-gradiente .imgs {
    text-align: center;
    min-height: 200px;
}

.banner-gradiente .img-wrap {
    display: inline-block;
    position: relative;
    bottom: -60px;
}

.banner-gradiente .imgs .imgAnime {
    position: absolute;
}
.banner-gradiente .imgs .bell {
    z-index: 2;
    width: 80px;
    right: -20px;
    top: -30px;

    animation: bellTolling 2s forwards infinite alternate;
}
.banner-gradiente .imgs .chat {
    z-index: 1;
    width: 140px;
    left: -50px;
    top: -40px;
    
    animation: bouncing 2s forwards infinite alternate;
}
.banner-gradiente .imgs .mail {
    z-index: 0;
    width: 280px;
}

@media (max-width: 767px) {
    .banner-gradiente .col.imgs {
        display: none;
    }
}
@media (max-width: 991px) {
    .banner-gradiente .col.imgs {
        width: 30%;
    }
    .banner-gradiente .img-wrap {
        transform: scale(0.8);
    }
}


/* --- BANNER / grande */
.banner-block {
    box-sizing: border-box;
    max-width: 1200px;
    padding: 60px 40px;
    margin: 0 auto;
    border-radius: 40px;
    position: relative;
}
.banner-block.yellow {
    background-color: var(--spliper-cor-yellow);
}

.banner-container {
    box-sizing: border-box;
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
}

.banner-block .banner-title {
    font-family: var(--tp-ff-heading);
    color: #fff;
    padding-bottom: 20px;
}
.banner-block .banner-title span {
    display: inline;
}
.banner-block p {
    font-size: 20px;
    color: #fff;
}

.banner-block .banner__btn {
    padding-top: 20px;
}

.banner-block .imgAnime {
    position: absolute;
}

.banner-block .imgAnime.cubo {
    width: 130px;
    bottom: -10%;
    left: 40px;
}
.banner-block .imgAnime.bola {
    width: 80px;
    top: 10%;
    right: 30px;
    filter: drop-shadow(0 30px 20px rgba(0, 0, 0, 0.4));
}

.banner-descomplique {
    padding-left: 20px;
    padding-right: 20px;
}

.banner-block.green {
    background-color: var(--spliper-cor-green);
}
.banner-block.green .alt-color-white span {
    color: var(--spliper-cor-yellow);
}
.banner-block.green .tp-btn-hover.alt-color-white b {
    background-color: #000;
}
.banner-block.green .imgAnime.bola {
    top: inherit;
    bottom: 15%;
}
.banner-block.green .imgAnime.cubo {
    bottom: inherit;
    top: -10%;
}



/* ///// HOME  */

/* --- HOME / secao hero */
.tp-hero-title-3 {
    font-weight: normal;
    font-size: 64px;
    line-height: 100%;
}

.tp-hero-title-box p {
    font-size: 18px;
    color: #000;
}

.tp-hero-area .tp-hero-3-wrapper {
    margin-bottom: -120px;
}


/* --- HOME / secao sobre */
.tp-about__area {
    margin-top: -30px;
}
@media (max-width: 767px) {
    .tp-about__area {
        margin-top: 0;
    }
    .tp-about__area .container {
        margin-top: 90px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px), only screen and (min-width: 992px) and (max-width: 1199px) {
    .tp-about__section-box p {
        display: inherit;
    }
}

.tp-about__img-wrapper {
    position: relative;
    text-align: center !important;
}

.tp-about__img-wrapper .img-anima.estrela {
    position: relative;
    width: 300px;
    filter: drop-shadow(0 50px 20px rgba(0, 0, 0, 0.4));
}
.tp-about__img-wrapper .img-anima.bolaGreen,
.tp-about__img-wrapper .img-anima.bolaYellow {
    position: absolute;
}
.tp-about__img-wrapper .img-anima.bolaGreen.i2 {
    width: 20px;
    top: 5%;
    left: 10%;
    filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.3));
}
.tp-about__img-wrapper .img-anima.bolaGreen.i1 {
    width: 100px;
    bottom: 20%;
    right: 10%;
    filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.4));
}
.tp-about__img-wrapper .img-anima.bolaYellow {
    width: 150px;
    filter: blur(5px);
    left: 15%;
    bottom: 0;
}


/* --- HOME / secao serviços */
.tp-service-3-item {
    background: var(--spliper-gradient-bl_ye-hor);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 360px;
}

.tp-service-sm-item {
    border-color: #cececf;
}

.tp-service-sm-icon {
    position: relative;
    width: 100px;
    height: 100px;
}
.tp-service-sm-icon:after {
    content: "";
    background: var(--spliper-gradient-bl_ye-hor);
    width: 100px;
    height: 100px;
    border-radius: 200px;
    position: absolute;
    left: 0;
    top: 0;
}
.tp-service-sm-icon svg,
.tp-service-sm-icon img {
    position: relative;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.tp-btn-white-solid:hover {
    color: var(--spliper-cor-yellow);
    background-color: var(--spliper-cor-green);
}
.tp-service-sm-title a:hover,
.tp-service-sm-link a:hover {
    color: var(--spliper-cor-yellow);
}


/* --- HOME / secao software */
.softBloks {
    position: relative;
}
.softBloks .tp-rank__wrapper {
    position: relative;
    z-index: 2;
}

.software__area .img-anima.bolhaVerde,
.software__area .img-anima.bolaGreen,
.software__area .img-anima.bolaYellow {
    position: absolute;
}
.software__area .img-anima.bolhaVerde {
    width: 300px;
    z-index: 0;
    bottom: -40%;
    right: 20%;
}
.software__area .img-anima.bolaGreen {
    width: 40px;
    top: -20%;
    right: 60%;
}
.software__area .img-anima.bolaYellow {
    filter: blur(5px);
    width: 80px;
    bottom: -20%;
    left: -15%;
}

@media (max-width: 991px) {
    .software__area .img-anima.bolhaVerde {
        bottom: 0;
    }
    .software__area .img-anima.bolaGreen {
        top: 0;
        right: 60%;
    }
    .software__area .img-anima.bolaYellow {
        bottom: 20%;
    }
}

.tp-rank__item {
    min-width: 130px;
    min-height: 260px;
    padding: 15px;
    position: relative;
}
.tp-rank__item:hover {
    z-index: 5;
}
.tp-rank__item.active {
    background: var(--spliper-gradient-bl_ye-ver);
}
.tp-rank__item:nth-child(5):not(:hover) {
    transform: translateY(30px);
}

@media (max-width: 767px) {
    .tp-rank__item:nth-child(5):not(:hover) {
        transform: translateY(0);
    }
}

.tp-service-sm-title a:hover {
    color: var(--cor-yellow-apliper);
}

.tp-rank__company-info {
    width: calc(100% - 30px);
    position: absolute;
    bottom: 30px;
}


/* --- HOME / secao blog, ultimos posts */
.tp-blog-category span {
    text-transform: inherit;
    color: var(--spliper-cor-yellow);
    border-color: var(--spliper-cor-green);
}

.tp-blog-author-info h5,
.tp-blog-title-sm:hover {
    color: var(--spliper-cor-green);
}

.portfolio.blog-grid-inner .tp-section-title {
    font-family: var(--tp-ff-dm);
    font-weight: normal;
}

.tp-blog-avata {
    overflow: hidden;
    border-radius: 100px;
}

.tp-blog-date span {
    color: #000;
}


/* --- HOME / secao depoimentos */
.tp-testimonial-2-area {
    background: var(--spliper-gradient-bl_ye-hor);
}

.tp-testimonial-2-item {
    background: linear-gradient(0deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.24) 75%, rgba(255,255,255,0.05) 100%);
    border: 1px solid rgba(255,255,255,0.2);
    overflow: hidden;
    position: relative;
}
.tp-testimonial-2-item:after,
.tp-testimonial-2-item:before {
    content: "";
    position: absolute;
    background-color: #fff;
    border-radius: 120%;
    filter: blur(6px);
    transition: left .6s;
}
.tp-testimonial-2-item:after {
    width: 100px;
    height: 10px;
    left: 5%;
    top: -12px;
}
.tp-testimonial-2-item:before {
    width: 200px;
    height: 10px;
    left: 10%;
    bottom: -10px;
}

.tp-testimonial-2-star span svg * {
    fill: var(--spliper-cor-yellow);
}

.tp-testimonial-2-star .tp-section-title {
    font-weight: normal;
}
.tp-section-title span {
    font-family: var(--tp-ff-dm);
    font-weight: normal;
    color: #000;
}

.tp-testimonial-2-content p {
    color: #000;
}

.tp-testimonial-2-img {
    overflow: hidden;
    border-radius: 100px;
}

.tp-testimonial-2-item:hover:after {
    left: 20%;
}
.tp-testimonial-2-item:hover:before {
    left: 45%;
}


/* --- HOME / banner */
.home__banner-descomplique {
    margin-top: -110px;
    padding: 0 20px;
}

/* --- HOME / secao preços */
.tp-price__area {
    background-color: inherit !important;
}

.tp-price__area .tp-section-title {
    font-weight: normal;
}

.tp-price__area .tp-section-title span {
    display: block;
    padding-bottom: 20px;
}

.tp-price__item {
    box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.1),
                0 -2px 2px 0px rgb(0, 0, 0, 0.04);
    
    transition: box-shadow .3s;
}

.tp-price__item.active {
    background: inherit;
    background-color: var(--spliper-cor-green);
    box-shadow: 0 10px 20px 4px rgba(0, 0, 0, 0.1),
                0 -2px 2px 0px rgb(0, 0, 0, 0.04);
}

.tp-price__item:hover,
.tp-price__item.active:hover {
    box-shadow: 0 10px 20px 4px rgba(0, 0, 0, 0.3),
                0 -2px 2px 0px rgb(0, 0, 0, 0.02);
}

.tp-price__item.active .tp-price__btn,
.tp-btn-price {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.tp-btn-price {
    color: #000;
}

.tp-price__btn a {
    background-color: var(--spliper-cor-green);
}



/* --- barra verde */
.barra-verde {
    position: relative;
    background-color: var(--spliper-cor-green);
    list-style: none;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 150px;
}

.barra-verde li {
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
}

.barra-verde li:not(:last-child) .item {
    border-right: 1px solid #6c8e98;
}

@media (max-width: 991px) {
    .barra-verde {
        border-radius: 80px;
    }
    .barra-verde li {
        min-width: 50%;
    }
    .barra-verde li:nth-child(2) .item {
        border-right: none;
    }
}
@media (max-width: 767px) {
    .barra-verde li {
        min-width: 100%;
    }
    .barra-verde li:not(:last-child) .item {
        border-right: none;
        border-bottom: 1px solid #6c8e98;
    }
}

.barra-verde .img-anima.anel,
.barra-verde .img-anima.bolaYellow {
    position: absolute;
}
.barra-verde .img-anima.anel {
    width: 80px;
    left: -20px;
    bottom: -5px;
}
.barra-verde .img-anima.bolaYellow {
    width: 40px;
    filter: blur(5px);
    right: 5px;
    top: -5px;
}

.barra-verde .item {
    font-family: var(--tp-ff-dm);
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    letter-spacing: .03rem;
    color: #fff;

    box-sizing: border-box;
    padding: 20px;
}

.barra-verde .item i {
    font-family: var(--tp-ff-urban);
    font-style: normal;
    font-weight: 200;
    font-size: 20px;

    display: block;
}



/* ///// SOBRE */

/* --- SOBRE / secao estrutura */
.estrutura-item {
    padding-bottom: var(--bs-gutter-x);
}
.estrutura-item img {
    overflow: hidden;
    border-radius: 40px;
}

.sobre-historia .tp-section-subtitle {
    color: #1c6981;
}
.sobre-historia .tp-section-subtitle:before {
    background-color: #1c6981;
}


/* --- SOBRE / secao socios */
.sobre-socios {
    background: var(--spliper-gradient-bl_ye-hor);
}

.sobre-socios .tp-section-subtitle {
    margin-bottom: 20px;
}
.sobre-socios .tp-section-subtitle:before {
    background-color: #fff;
}

.sobre-socios .container p {
    color: #000;
}


.item-socio {
    margin-bottom: 40px;
}

.item-socio img {
    overflow: hidden;
    border-radius: 40px;
}

.sobre-socios .container {
    position: relative;
}
.sobre-socios .container .imgAnime {
    position: absolute;
    z-index: 0;
    width: 60px;
}
.sobre-socios .container .bVerde {
    left: 25%;
    bottom: -5%;
}
.sobre-socios .container .bAmarela {
    filter: blur(5px) drop-shadow(0 30px 20px rgba(0, 0, 0, 0.4));
    left: 10%;
    bottom: 17%;
}

@media (max-width: 991px) {
    .sobre-socios .imgAnime {
        display: none;
    }
}


/* --- SOBRE / secao diferencial */
.sobre-diferenciais .tp-about__img-wrapper .imgAnime:not(.imgAnime.bg) {
    position: absolute;
}
.sobre-diferenciais .tp-about__img-wrapper .bg {
    padding: 70px;
}
.sobre-diferenciais .tp-about__img-wrapper .anel {
    width: 180px;
    left: 10%;
    top: 8%;
}
.sobre-diferenciais .tp-about__img-wrapper .bolaVerde {
    width: 140px;
    top: 20%;
    left: 50%;
}
.sobre-diferenciais .tp-about__img-wrapper .bolaAmarela {
    width: 100px;
    right: 20%;
    bottom: 15%;
}
.sobre-diferenciais .tp-about__img-wrapper .bolaAmarela2 {
    filter: blur(5px);
    width: 80px;
    left: 30%;
    bottom: 27%;
}

@media (max-width: 991px) {
    .tp-about__img-wrapper {
        display: none;
    }
}


/* ///// SERVICOS */

/* --- SERVICOS / secao softwares */
.software-icon {
    position: relative;
    margin: 30px 30px 0;
}

.software-item .wrapper {
    border: 1px solid #E9EBF1;
    border-radius: 20px;
    padding: 45px;
    margin-bottom: 30px;
    min-height: 360px;
    overflow: hidden;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.software-title {
    font-weight: normal;
    font-size: 20px;

    background-image: url(../img/logo-green-170_50.png);
    padding-top: 40px;
    background-repeat: no-repeat;
    background-size: 110px;
}
.software-title:hover {
    color: var(--spliper-cor-yellow);
}

.software-icon .img {
    display: inline-block;
    width: 60px;
    height: 60px;
    position: relative;
}
.software-icon .img:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    transform: rotate(50deg);
}

.software-icon img {
    width: 26px;
    position: relative;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.software-icon .img .bg,
.software-icon .img .bg2 {
    position: absolute;
    left: 50%;
    top: 50%;
    width: calc(100% + 50px);
    height: calc(100% + 50px);
    border-radius: 20px;

    transition: transform .2s;
}

.software-icon .img .bg {
    z-index: 1;
    transform: translate(-50%, -50%)
               rotate(25deg);
    background: var(--spliper-gradient-bl_ye-hor);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}
.software-icon .img .bg2 {
    z-index: 0;
    transform: translate(-50%, -50%)
               rotate(70deg);
    background: linear-gradient(90deg, #f1f1f1 15%, #dbdbdb 85%);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.software-item:hover .software-icon .img .bg {
    transform: translate(-50%, -50%) rotate(70deg);
}
.software-item:hover .software-icon .img .bg2 {
    transform: translate(-50%, -50%) rotate(25deg);
}

@media (max-width: 1199px) {
    .software-icon {
        text-align: center;
    }

    .software-icon img {
        transform: translate(-110%, -50%);
    }
}


/* ///// SERVICOS-DETALHE */
.servico__detalhe .container {
    max-width: 1000px;
}

.servico__detalhe .postbox__details-img-box img {
    overflow: hidden;
    border-radius: 40px;
}

@media (max-width: 767px) {
    .postbox__details-img-box {
        flex-direction: column;
    }
}


/* ///// BLOG */
.cover__blog .cover-header {
    padding: 150px 20px 80px;
}

/* --- BLOG / secao  */
.tp-blog-category span {
    color: var(--spliper-cor-yellow);
    border-color: var(--spliper-cor-green);
}

.blog-grid-slider-meta span.child-one {
    background-color: transparent;
    box-shadow: 1px 0 0 2px var(--spliper-cor-green);
    color: var(--spliper-cor-yellow);
}

.tp-blog-author-info h5,
.tp-blog-title-sm:hover {
    color: var(--spliper-cor-green);
}

.portfolio.blog-grid-inner .tp-section-title {
    font-family: var(--tp-ff-dm);
    font-weight: normal;
}

.tp-blog-avata {
    overflow: hidden;
    border-radius: 100px;
}

.tp-blog-date span {
    color: #000;
}

.portfolio-filter button.active,
.portfolio-filter button.active:hover {
    background-color: var(--spliper-cor-green);
    border-color: var(--spliper-cor-green);
    color: #fff;
}

.portfolio-filter button:hover {
    color: var(--spliper-cor-green);
    border-color: var(--spliper-cor-green);
}

.blog-grid-posts .tp-section-title {
    font-weight: normal;
}
.blog-grid-posts .tp-section-title span {
    display: block;
}


/* ///// BLOG-DETALHE */

/* --- BLOG / detalhado */
.rc__post-title a:hover,
.postbox__navigation-content h5:hover,
.postbox__navigation-content a:hover span {
    color: var(--spliper-cor-green);
}
.postbox__details-qoute-text span,
.sidebar__widget ul li a:hover {
    color: var(--spliper-cor-yellow);
}

.tagcloud a:hover,
.postbox__details-author-social a:hover,
.postbox__comment-reply a:hover {
    background-color: var(--spliper-cor-green);
}
.postbox__details-qoute-text span::before,
.postbox__details-checkmark ul li i {
    background-color: var(--spliper-cor-yellow);
}

.tagcloud a:hover,
.postbox__comment-reply a:hover {
    border-color: var(--spliper-cor-green);
}
.postbox__details-qoute {
    border-color: var(--spliper-cor-yellow);
}

.postbox__details-wrapper article .mb-20 {
    overflow: hidden;
    border-radius: 30px;
}

.postbox__navigation-img img {
    max-width: 90px;
}

/* --- sidebar */
.sidebar__widget {
    border-color: #cececf;
}



/* ///// CONTATO */

/* --- CONTATO / secao barra-topo  */
.contato-barra {
    background-color: #fff;
    border-radius: 200px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2),
                0 0 2px 0 rgba(0, 0, 0, 0.1);
}

.contato-barra .row {
    padding: 30px 40px;
    align-items: center;
}

.contato-barra-inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato-barra-inner a {
    font-size: 16px;
    line-height: 130%;
    display: block;
    padding-bottom: 5px;
}
.contato-barra-inner a:hover {
    color: var(--spliper-cor-green);
}

@media (max-width: 991px) {
    .contato-barra {
        border-radius: 60px;
    }
    .contato-barra .row > div {
        padding: 20px 0;
    }

    .contato-barra-inner {
        justify-content: flex-start;
    }
    .contact-inner-img {
        min-width: 90px;
    }
}


/* --- CONTATO / secao formulario  */
.contact-form-area .tp-section-title {
    font-weight: normal;
    font-size: 36px;
}
.contact-form-area .tp-section-title span {
    font-size: 50px;
    display: block;
}


.horarios .tp-section-title {
    font-family: var(--tp-ff-dm);
    font-weight: normal;
    font-size: 26px;
    padding: 50px 0 0 0;
}

.horarios p {
    font-family: var(--tp-ff-heading);
    font-size: 18px;
}


/* --- CONTATO / secao faq */
.tp-custom-accordion .accordion-items.tp-faq-active {
    background-color: #fff;
    border-radius: 20px;
}

.contato-faq .tpfadeLeft {
    position: relative;
}
.imgAnima.chatPopup {
    width: 260px;
    position: absolute;
    bottom: 0;
    right: 20%;
    
    animation: tptranslateY2 4s forwards infinite alternate;
}

@media (max-width: 991px) {
    .imgAnima.chatPopup {
        display: none;
    }
}

/* --- BANNER contato */
.banner__contato {
    margin-top: 100px;
    margin-left: 20px auto;
    margin-right: 20px auto;
}


/* ///// CONTATO-TRABALHO */
.page-cover.trabalho__cover .cover-header {
    padding: 150px 20px 90px;
}

.contato__trabalho-info .tp-section-title {
    font-size: 40px;
    padding-bottom: 30px;
}

.contato__trabalho-list {
    list-style: none;
}
.contato__trabalho-list li {
    position: relative;
    padding-left: 30px;
}
.contato__trabalho-list li:not(:last-child) {
    padding-bottom: 20px;
}
.contato__trabalho-list li:before {
    content: "";
    width: 50px;
    height: 50px;
    box-shadow: inset 0 0 0 2px var(--spliper-cor-yellow);
    border-radius: 100px;
    position: absolute;
    left: -40px;
    top: -10px;
}

.contato__trabalho-info .row {
    justify-content: space-between;
}

@media (max-width: 767px) {
    .contato__trabalho-info .row {
        flex-direction: column;
    }
    .contato__trabalho-info .row > div {
        width: 100%;
        padding-bottom: 40px;
    }
}

/* --- formulario */
.contato__trabalho-form .tp-section-title {
    font-size: 40px;
    padding-bottom: 30px;
}

.postbox__comment-input .inputText,
.postbox__comment-input .textareaText {
    box-shadow: inset 0 0 0 2px #b9b9b9;
}

.contato__trabalho-form .postbox__btn-box {
    text-align: center;
}
.contato__trabalho-form .submit-btn {
    font-size: 20px;
    background-color: var(--spliper-cor-green);
    max-width: 600px;
    border-radius: 100px;
}
.contato__trabalho-form .submit-btn:hover {
    background-color: var(--spliper-cor-yellow);
}

@media (max-width: 767px) {
    .contato__trabalho-form .col-6 {
        width: 100%;
    }
}




/* ///// ANIMACOES */
@keyframes bellTolling {
    0% {
        transform: rotate(10);
    }
    50% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(20deg);
    }
}
@keyframes bouncing {
    0% {
        transform: translate(0, -10px);
    }
    100% {
        transform: translate(0, 10px);
    }
}

@keyframes bubbleFade-bYlw {
    0% {
        transform: translate(10px, 10px) scale(1);
        filter: blur(2px);
    }
    100% {
        transform: translate(-30px, -30px) scale(1.2);
        filter: blur(5px);
    }
}

@keyframes bubbleFade-toLeft {
    0% {
        transform: translate(-10px, 10px) scale(1);
    }
    100% {
        transform: translate(30px, 30px) scale(1.2);
    }
}

@keyframes bubbleFade-toRight {
    0% {
        transform: translate(-20px, -30px) scale(1);
    }
    100% {
        transform: translate(30px, 20px) scale(1.2);
    }
}