/* ///// NOVO PADRÃO */
:root {
    --cor-green-apliper: #1c6981;
    --cor-yellow-apliper: #e3952d;
    --cor-gray-apliper: #dedfe0;
    --gradient-bl-ye-hor: linear-gradient(90deg, #61a5cb 15%, #ecb66c 85%);
    --gradient-bl-ye-ver: linear-gradient(0deg, #61a5cb 15%, #ecb66c 85%);
}

h4 {
    font-size: 30px;
}


/* ///// HOME */

.tp-hero-title-3 {
    font-weight: normal;
    font-size: 64px;
    line-height: 100%;
}

.tp-hero-title-box p {
    font-size: 18px;
    color: #000;
}

.tp-hero-area .tp-hero-3-wrapper {
    margin-bottom: -120px;
}


/* ----- botoes */
.tp-btn-blue-lg,
.tp-btn {
    background: var(--cor-green-apliper);
}

.tp-btn-border {
    border-color: var(--cor-green-apliper);
}
.tp-btn-border:not(:hover) span {
    color: var(--cor-green-apliper) !important;
}


/* ----- novo sup-titulo */
.tp-section-subtitle {
    background: none;
    border-radius: inherit;
    display: block;
    padding: 0; 
    margin-bottom: 8px;
    text-transform: inherit;

    font-size: 20px;
    color: var(--cor-yellow-apliper);
    position: relative;
}
.tp-section-subtitle:before {
    content: "";
    background-color: var(--cor-yellow-apliper);
    display: inline-block;
    width: 30px;
    height: 2px;
    margin-right: 8px;
    position: relative;
    transform: translateY(-300%);
}


.tp-about__list ul li i {
    background: var(--cor-yellow-apliper);
}


/* ----- HOME / area sobre */
.tp-about__area {
    background-color: #fcf4ea;
}
@media (max-width: 767px) {
    .tp-about__pt-pb {
        padding-top: 120px;
    }
}

.tp-about__area .tp-btn {
    background-color: #fff;
}
.tp-about__area .tp-btn:not(:hover) span {
    color: var(--cor-green-apliper) !important;
}
@media (max-width: 991px) {
    .tp-about__area .tp-about__img-wrapper {
        display: none;
    }
}

.tp-service-3-item {
    background: var(--gradient-bl-ye-hor);
    height: calc(100% - 30px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.tp-service-3-item .tp-service-3-icon svg {
    color: #fff;
}

.tp-service-sm-item {
    border-color: #d3d4d5;
    position: relative;
    overflow: hidden;
}

.tp-service-sm-item .tp-service-sm-icon {
    position: relative;
    width: 110px;
    height: 110px;
    border-radius: 110px;
    background: var(--gradient-bl-ye-hor);
}
.tp-service-sm-icon svg {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.tp-service-sm-item:hover .tp-service-sm-icon svg {
    color: var(--cor-green-apliper);
}

.tp-service-sm-link a:hover {
    color: var(--cor-yellow-apliper);
}


/* ----- area software */
.tp-rank__area {
    background-color: var(--cor-gray-apliper);
}

.tp-rank__item {
    min-width: 130px;
    min-height: 260px;
    padding: 15px;
    position: relative;
}
.tp-rank__item:hover {
    z-index: 5;
}
.tp-rank__item.active {
    background: var(--gradient-bl-ye-ver);
}
.tp-rank__item:nth-child(5):not(:hover) {
    transform: translateY(30px);
}

@media (max-width: 767px) {
    .tp-rank__item:nth-child(5):not(:hover) {
        transform: translateY(0);
    }
}

.tp-service-sm-title a:hover {
    color: var(--cor-yellow-apliper);
}

.tp-rank__company-info {
    width: calc(100% - 30px);
    position: absolute;
    bottom: 30px;
}


/* ----- barra de serviços */
.barra-servicos {
    background-color: var(--cor-green-apliper);
    list-style: none;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 150px;
}

.barra-servicos li {
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
}

.barra-servicos li:not(:last-child) .item {
    border-right: 1px solid #6c8e98;
}

@media (max-width: 991px) {
    .barra-servicos {
        border-radius: 80px;
    }
    .barra-servicos li {
        min-width: 50%;
    }
    .barra-servicos li:nth-child(2) .item {
        border-right: none;
    }
}
@media (max-width: 767px) {
    .barra-servicos li {
        min-width: 100%;
    }
    .barra-servicos li:not(:last-child) .item {
        border-right: none;
        border-bottom: 1px solid #6c8e98;
    }
}

.barra-servicos .item {
    font-family: var(--tp-ff-dm);
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    letter-spacing: .03rem;
    color: #fff;

    box-sizing: border-box;
    padding: 20px;
}

.barra-servicos .item i {
    font-family: var(--tp-ff-urban);
    font-style: normal;
    font-weight: 200;
    font-size: 20px;

    display: block;
}


/* ----- HOME / ultimas postagens */
.tp-blog-category span {
    color: var(--cor-yellow-apliper);
    border-color: var(--cor-green-apliper);
}

.tp-blog-author-info h5,
.tp-blog-title-sm:hover {
    color: var(--cor-green-apliper);
}

.portfolio.blog-grid-inner .tp-section-title {
    font-family: var(--tp-ff-dm);
    font-weight: normal;
}

.tp-blog-avata {
    overflow: hidden;
    border-radius: 100px;
}

.tp-blog-date span {
    color: #000;
}



/* ----- HOME / area de depoimentos */

.tp-testimonial-2-area {
    background: var(--gradient-bl-ye-hor);
}

.tp-testimonial-2-item {
    background: linear-gradient(0deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.24) 75%, rgba(255,255,255,0.05) 100%);
    border: 1px solid rgba(255,255,255,0.2);
    overflow: hidden;
    position: relative;
}
.tp-testimonial-2-item:after,
.tp-testimonial-2-item:before {
    content: "";
    position: absolute;
    background-color: #fff;
    border-radius: 120%;
    filter: blur(6px);
    transition: left .6s;
}
.tp-testimonial-2-item:after {
    width: 100px;
    height: 10px;
    left: 5%;
    top: -12px;
}
.tp-testimonial-2-item:before {
    width: 200px;
    height: 10px;
    left: 10%;
    bottom: -10px;
}

.tp-testimonial-2-star span svg * {
    fill: var(--cor-yellow-apliper);
}

.tp-testimonial-2-star .tp-section-title {
    font-weight: normal;
}
.tp-section-title span {
    font-family: var(--tp-ff-dm);
    font-weight: normal;
    color: #000;
}

.tp-testimonial-2-content p {
    color: #000;
}

.tp-testimonial-2-img {
    overflow: hidden;
    border-radius: 100px;
}

.tp-testimonial-2-item:hover:after {
    left: 20%;
}
.tp-testimonial-2-item:hover:before {
    left: 45%;
}


/* --- banner amarelo */
.banner-descomplica .container {
    box-sizing: border-box;
    border-radius: 60px;
    padding: 40px;
}
.banner-descomplica.home-style .container {
    margin-top: -100px;
}

.banner-descomplica.amarelo .container {
    background-color: var(--cor-yellow-apliper);
}
.banner-descomplica.verde .container {
    background-color: var(--cor-green-apliper);
}

.banner-descomplica .container {
    background-color: var(--cor-yellow-apliper);
    box-sizing: border-box;
    border-radius: 60px;
    padding: 40px;
}

.banner-descomplica .wrap {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}

.banner-descomplica .tp-section-title,
.banner-descomplica .tp-section-title span,
.banner-descomplica p {
    color: #fff;
    font-weight: normal;
}

.banner-descomplica p {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.banner-descomplica .tp-btn {
    background-color: #fff;
}
.banner-descomplica .tp-btn span {
    color: var(--cor-green-apliper);
}
.banner-descomplica .tp-btn:hover span {
    color: #fff;
}


/* ----- HOME / area de preços */

.tp-price__area {
    background-color: inherit !important;
}

.tp-price__area .tp-section-title {
    font-weight: normal;
}

.tp-price__area .tp-section-title span {
    display: block;
    padding-bottom: 20px;
}

.tp-price__item {
    box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.1),
                0 -2px 2px 0px rgb(0, 0, 0, 0.04);
    
    transition: box-shadow .3s;
}

.tp-price__item.active {
    background: inherit;
    background-color: var(--cor-green-apliper);
    box-shadow: 0 10px 20px 4px rgba(0, 0, 0, 0.1),
                0 -2px 2px 0px rgb(0, 0, 0, 0.04);
}

.tp-price__item:hover,
.tp-price__item.active:hover {
    box-shadow: 0 10px 20px 4px rgba(0, 0, 0, 0.3),
                0 -2px 2px 0px rgb(0, 0, 0, 0.02);
}

.tp-price__item.active .tp-price__btn,
.tp-btn-price {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.tp-btn-price {
    color: #000;
}

.tp-price__btn a {
    background-color: var(--cor-green-apliper);
}


/* ----- HOME / banner pré-footer */
.banner-p.banner-planos .container {
    background: var(--gradient-bl-ye-hor);
    box-sizing: border-box;
    padding: 40px;
    border-radius: 60px;
}

.banner-p.banner-planos .tp-section-title,
.banner-p.banner-planos .tp-section-title span {
    font-weight: normal;
    color: #fff;
}

.banner-p.banner-planos .tp-btn {
    background-color: #fff;
}
.banner-p.banner-planos .tp-btn span {
    color: var(--cor-yellow-apliper);
}

@media (max-width: 767px) {
    .col.imgs {
        display: none;
    }
}






/* ///// FOOTER */

.tp-footer__pl-pr {
    background-color: var(--cor-yellow-apliper);
}

.footer-widget-3 .tp-footer__widget-title,
.tp-footer__sub-title,
.tp-footer__content span,
.tp-footer__content a,
.footer-widget-3 .tp-footer__content ul li a {
    color: #fff;
}

.tp-footer__social-link {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tp-footer__social-link a {
    font-size: 40px;
    color: #fff;
}
.tp-footer__social-link a:not(:first-child) {
    margin: 0 10px;
}
.tp-footer__social-link a:hover {
    color: var(--cor-green-apliper);
}

.footer-widget-3 .tp-footer__content ul li a:hover {
    color: var(--cor-green-apliper);
}
.tp-footer__widget-inner ul li a::after {
    background-color: var(--cor-green-apliper);
}

.tp-footer__sub-title {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: inherit;
}

.tp-footer__content > div:not(:first-child) {
    margin-top: 20px;
}
.tp-footer__content > div h5 {
    margin-bottom: 10px;
}



.scroll-top {
    background-color: var(--cor-green-apliper);
}



/* ///// PAGINA - SOBRE */

.page-cover .about-banner {
    background-color: inherit;
    background: var(--gradient-bl-ye-hor);
}

.estrutura-item {
    padding-bottom: var(--bs-gutter-x);
}
.estrutura-item img {
    overflow: hidden;
    border-radius: 40px;
}

.sobre-socios {
    background: var(--gradient-bl-ye-hor);
}

.item-socio img {
    overflow: hidden;
    border-radius: 40px;
}



/* ///// PAGINA - CONTATO */

.contact-inner-wrapper {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2),
                0 0 2px 0 rgba(0, 0, 0, 0.1);
}

.contact-form-area .tp-section-title {
    font-weight: normal;
    font-size: 36px;
}
.contact-form-area .tp-section-title span {
    font-size: 50px;
    display: block;
}

.contact-inner-item {
    padding: 30px 40px;
}

.contact-inner-link a {
    font-size: 18px;
    line-height: 140%;
    display: block;
}
.contact-inner-link a:not(:last-child) {}
.contact-inner-link a:hover {
    color: var(--cor-green-apliper);
}

.contact-form-area .postbox__btn-box .submit-btn {
    background-color: var(--cor-yellow-apliper);
    border-radius: 100px;
}


.horarios .tp-section-title {
    font-family: var(--tp-ff-dm);
    font-weight: normal;
    font-size: 26px;
    padding: 50px 0 0 0;
}

.horarios p {
    font-family: var(--tp-ff-heading);
    font-size: 18px;
}


/* ///// PAGINA - TRABALHE CONOSCO */

.page__trabalhe-form {
    background-color: #dedfe0;
}

.trabalhe-title {
    font-weight: normal;
    text-align: center;
    padding-bottom: 50px;
}

.postbox__comment-input .inputText,
.postbox__comment-input .textareaText {
    padding: 0px 25px;
    border-radius: 100px;
}
.postbox__comment-input .textareaText {
    border-radius: 30px;
}


.postbox__comment-input .inputText,
.postbox__comment-input .textareaText {
    box-shadow: 0 1px 2px 1px rgba(32, 33, 36, 0.06), inset 0 0 0 2px #bbb;

    transition: box-shadow .2s;
}
.postbox__comment-input .inputText:focus,
.postbox__comment-input .textareaText:focus {
    box-shadow: 0 1px 2px 1px rgba(32, 33, 36, 0.06), inset 0 0 0 2px var(--cor-green-apliper);
}

.postbox__comment-input .textareaText {
    padding: 15px 20px !important;
}

.inputFile {
    box-shadow: 0 1px 2px 1px rgba(32, 33, 36, 0.06), inset 0 0 0 2px #bbb;
    background-color: #fff;
    box-sizing: border-box;
    overflow: hidden;
    height: 55px;
    border-radius: 100px;
    position: relative;
}
.inputFile input[type="file"] {
    line-height: 53px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    opacity: 0.001;
}

@media (max-width: 767px) {
    .form-trabalhe .col-6 {
        width: 100%;
    }
}

.postbox__btn-box {
    text-align: center;
}
.postbox__btn-box .submit-btn {
    font-size: 26px;
    background-color: var(--cor-green-apliper);
    max-width: 600px;
    border-radius: 100px;
}